<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.som.dao.ILuckNumDao">
   <resultMap type="LuckNumber" id="luckNumMap">
		<id property="id" column="id"/>
		<result property="num" column="num"/>
		<result property="type" column="type"/>
		<result property="date" column="date"/>
		
	</resultMap>
	
	<select id="findByLuckNum" parameterType="String" resultType="LuckNumber">
		select * from lucknum where num=#{num}
	</select>
	
	
	<insert id="add" parameterType="LuckNumber">
		insert into lucknum (num,type,date) values
		(#{num},#{type},#{date})
	</insert>
	
	
	
</mapper>