body{
	margin: 20px;
}
.numText{
	width: 80%;
	height: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 200px;
	background: #FFFFFF;
	border:solid;
}
button,input{
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 20px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 50px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
 }
.button-royal{
  background-color: #7B72E9;
  border-color: #7B72E9;
  color: #FFF; }
.button-pill {
  border-radius: 200px; }

.checkBtn{
	width: 80%;
	height: 70px;
	font-size: 30px;
	margin-top: 50px;
}
